body {
  background-color: rgba(248, 64, 172, 0.74);
  overflow: hidden;
}



/* ==Game Container css== */

.screen {
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  
}

.title {
  image-rendering: pixelated;
  position: absolute;

}

.fruittitle {
  width: 800px;
  height: 160px;
}

.arcade {
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.gamewindow {

  background-color: rgb(14, 17, 13);
  border-style: ridge ridge groove groove;
  border-width: 1rem;
  border-color: #042d42;
  width: 960px;
  height: 540px;
  margin: auto;
  position: relative;
  image-rendering: pixelated;
}

.cabinetdisplayimg {

  image-rendering: pixelated;
}

.yoanydisplay {
  width: 320px;
  height: 320px;
}

.vyleydisplay {
  width: 320px;
  height: 400px;
}



/* MenuScreen Stuff css */

.menuscreen>div {

  image-rendering: pixelated;
}

.fruitmenubg {
  width: 960px;
  height: 540px;
  position: relative;
}

.fruitmenutitle {
  width: 640px;
  height: 128px;
  position: absolute;
  top: 64px;
  left: 160px;
  z-index: 10;
}

.menuoptions {
  position: absolute;
  top: 250px;
  left: 372px;
  z-index: 10;
}

.start {
  font-family:'Press Start 2P', monospace;
  font-weight: 400px;
  font-size: 32px;
  padding: 1rem 2rem;
  color: white;
  text-shadow: 2px 2px 2px #000;
  background-color:  rgb(226, 22, 90);
  border-radius: 1rem;
  box-shadow: 0 9px  rgb(110, 11, 44);
  border: none;
}

.start:active{
  box-shadow: 0 0 rgb(110, 11, 44);
  transform: translateY(4px);
}

.fullbasket {
  image-rendering: pixelated;
}

.fullbasketdisplay {
  width:192px;
  height: 96px;
  position: relative;
  bottom: 96px;
  border-radius: 1rem;
}

/* fruit rain in menu screen */

.rainfruit {
  
  width:100%;
  height:100%;
  overflow: hidden;
  pointer-events: none;
}

.fruit {
  position: absolute;
  top: 0px;
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  animation: fall 5s linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(-64px);
  }
  100% {
    transform: translateY(432px);
  }
}

.fruit:nth-child(1) {
  left: 20%;
  animation-delay: 0s;
}
.fruit:nth-child(2) {
  left: 50%;
  animation-delay: 1s;
}
.fruit:nth-child(3) {
  left: 75%;
  animation-delay: .5s;
}
.fruit:nth-child(4) {
  left: 60%;
  animation-delay: 3s;
}
.fruit:nth-child(5) {
  left: 15%;
  animation-delay: 2s;
}
.fruit:nth-child(6) {
  left: 35%;
  animation-delay: 2.5s;
}
.fruit:nth-child(7) {
  left: 85%;
  animation-delay: 1.5s;
}


/* GameplayScreen css */
.gamebg {
  image-rendering: pixelated;
  
}

.gamebgdisplay {
  width: 960px;
  height: 540px;


  position: relative;
}

.player {
  position: absolute;
  bottom: 64px;
  left:0;
  image-rendering: pixelated;
  overflow: hidden;
}

.playerdisplay {
  width: 96px;
  height: 96px;
  
  
}

.thrower {
  position: relative;
  image-rendering: pixelated;
  bottom:464px;
  left:672px;
}

.throwerdisplay {
  width: 64px;
  height: 64px;
  
}

.fruitstothrow {
  position: absolute;
  width: 32px;
  height: 32px;
}

.thrownitemsdisplay {
  
  image-rendering: pixelated;
}