body {
  background-color: rgba(248, 64, 172, 0.74);
}



/* ==Game Container css== */

.screen {
  display: grid;
  grid-template-rows: auto 1fr;
  justify-items: center;
  align-items: start;
}

.title {
    image-rendering: pixelated;
    position: absolute;

}

.fruittitle {
  width:800px;
  height:160px;
}

.arcade {
  display: flex;
  flex-direction: row;
height: 100vh;
justify-content: center;
align-items: center;
}

.gamewindow {

  background-color:rgb(14, 17, 13);
  border-style: ridge ridge groove groove;
  border-width: 1rem;
  border-color: #042d42;
  width: 960px;
  height: 540px;
  margin:auto;
  position: relative;
  image-rendering: pixelated;
}

.cabinetdisplayimg {

  image-rendering: pixelated;
}

.gamebackground {
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}

.yoanydisplay {
  width: 320px;
  height:320px;
}

.vyleydisplay {
  width: 320px;
  height: 400px;
}