body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #a0e9ff, #ffffff);
  overflow: hidden;
  font-family: sans-serif;
}

.game-title {
  position: absolute;
  top: 10px;
  image-rendering: pixelated;

}

.game-title img {
  width: 800px;
  height: 160px;
}

#game {
  position: relative;
  width: 640px;
  height: 384px;
  border: 4px solid #444;
  overflow: hidden;
  image-rendering: pixelated;
  background-repeat: no-repeat;
  background-size: cover;
}


/* Menu Screen CSS */

.menu-title {
  position: absolute;
  top: 10px;
  left: 160px;
  image-rendering: pixelated;

}

.menu-title img {
  width: 320px;
  height: 64px;
}